@import "{{ cayman }}";

footer {
  display: none;
}
body {
  transition: background 1s ease-in, color 1s ease-in;
}
.dark {
  --light-text-color: hsl(0, 0%, 60%);
  --main-background-color: hsl(0, 0%, 10%);
  --main-text-color: hsl(0, 10%, 80%);
}
