---
---

@import "{{ site.theme }}";

footer {
    display: none !important;
}

body {
    color: #b9c0c3 !important;
    background-color: #111111 !important;
}

a {
    color: #97b3d0 !important;
}

.btn {
    color: #e0e0e0 !important;
}

.main-content {
    background-color: #111111 !important;
}

.main-content h1 {
    color: #d06c70 !important;
}

.main-content h6 {
    color: #de5757 !important;
}

.main-content code {
    color: #dadbdc !important;
    background-color: #1a1a1a !important;
}

.page-header {
    background-color: #991515;
    background-image: linear-gradient(120deg, #155799, #991515);
}
